@import url("http://fonts.googleapis.com/css?family=Tulpen+One");
@import url("http://fonts.googleapis.com/css?family=Chau+Philomene+One");

body { margin: 0; }

#header {
	background-color: #000000;
	color: #efefef;
	font-family: 'Tulpen One', cursive;
	padding: 20px;
	padding-top: 30px;
}

.title { font-size: 400%; }
.subtitle { font-size: 200%; }

#banner {
	padding: 10px;
	font-size: 100%;
	line-height: 180%;
	background-color: #efefef;
	margin-bottom: 10px;
	border-bottom: 1px solid #cfcfcf;
}

#footer {
	padding: 10px;
	background-color: #efefef;
	margin-top: 10px;
	border-top: 1px solid #cfcfcf;
}

.story {
	display: inline-block;
	width: 30%;
	padding: 10px;
	vertical-align: top;
}

.story img {
	max-width: 100%;
	display: block;
}

.story .text {
	margin-top: 5px;
	font-size: 80%;
	line-height: 100%;
}

.quote {
	color: #666666;
}

.quote .text {
	font-size: 200%;
}

.quote .author {
	margin-top: 10px;
	font-size: 100%;
}